.main {
  background-image: url("/public/home/background-home-desktop.jpg");
  background-size: cover;
  background-position: center;

  height: 100vh;
  padding-top: 4rem;
}

@media (max-width: 77.54em) {
  .main {
    padding-top: 0;
  }
}
