@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

/* Colors:
  #0B0D17
  #D0D6F9
  #FFF

Typography:
  Heading 1 - Bellefair Regular - 150px
  Heading 2 - Bellefair Regular - 100px
  Heading 3 - Bellefair Regular - 56px
  Heading 4 - Bellefair Regular - 32px
  Heading 5 - Barlow Condensed Regular - 28px - 4.75 Character Space

  Subheading 1 -- Bellefair Regular - 28px
  Subheading 2 - Barlow Condensed Regular - 14px - 2.35 Caracter Space
  Nav Text - Barlow Condensed Regular - 16px - 2.7 Character Space
*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  overflow-y: hidden;
  font-family: 'Bellefair', serif;
  line-height: 1;
  font-weight: 400;
}

.section {
  padding: 0 9.2rem;
}

.container {
  max-width: 135rem;
  margin: 0 auto;
  padding: 0 5rem;
}